body{
	background: whitesmoke;
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	height: 220px;
	margin-bottom: 15px;
	margin-top: 15px;
}

#smaller-image{
	width: 900px;
	border-radius:100%;
}

#small-image{
	width: 700px;
	border-radius:100%;
}

#medium-image{
	width:auto;
	height:450px;
}

#large-image{
	width: auto;
	height: 600px;
}

#right{
	text-align: right;
}

